/***********************
Herança e especificidade
***********************/

/* Border e background não são herdados */
body {
	background-color: #95a5a6;
}

a {
	padding: 0 60px;
	background-color: #95a5a6;
	color: #006266;
	border-radius: 25px;
	height: 120px;
	line-height: 30px;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	cursor: pointer;
}

#pagina {
	background-color: #2ecc71;
	text-align: center;
	width: 800px;
	margin: auto;
	padding: 30px;
}

/************
Especificidade
*************/

/* Seletores iguais exceção !important

#pagina p {
	color: red !important;
}

#pagina p {
	color: blue;
}
*/

/* Se um seletor for mais específico que outro
a regra mais geral será aplicada
(terá precedência sobre regras mais gerais)
*/

/* Do menos específico para o mais específico */

/* Seletor universal */
* {
	color: green;
}

h2 {/* 3 */
	color: blue;
}

h2.red {/* 2 */
	color: red;
}

h2#yellow {/* 1 */
	color: yellow;
}