/* * {
	border: 1px solid red;
}*/ 

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #f2f2f2;
}

/* img {
	float: left;
	margin-left: 45px;
	width: 99px;
} */ 

/* Em layouts liquidos é bastante utilizado a % */ 

#container {
	width: 1100px;  /* 85%; /* 720px; */
	margin: 0 auto;
	background: #f6fff8 url(../Imagens/coluna.png) left top;
	background-repeat: repeat-y;
	/* Propriedades para definir o tamanho minimo e maximo de largura */
	min-width: 720px;
	max-width: 1280px;
}

#marca {
	font-size: 1.9em;
	height: 200px;
	background: #225992 url(../Imagens/cabecalho2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	line-height: 200px;
}

#conteudo {
	background: #f6fff8;
	width: 74%;/* 520px; => 74.28% */
	float: right;
	text-align: center;
}

#conteudo h2 {
	text-align: center;
}

#conteudo-principal {
	width: 63%; /* 320px => 64% */ 
	float: left;
}

img.img-noticia {
	width: 90%;
	padding: 2%;
	max-width: 600px;
}

#conteudo-secundario {
	width: 34%; /* 180px => 36%*/
	float: right;
}

#conteudo-secundario h2,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#navegação {
	width: 210px; /* 180px => 24.71% */
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	/* background: lightgrey; */
	text-align: center;
	font-size: 18px;
}

#navegação ul {
	text-decoration: none;
	list-style: none;
	padding: 4px;
}

#navegação li a {
	text-decoration: none;
}

#navegação li {
	padding: 6.5px;
}


#rodape {
	clear: both;
	background: grey;
	padding: 6px;
	text-align: center;
}

/* Uma maneira de mesmo a imagem estando ultrapassando o seu espaçamento
   vai fazer com que esconda toda a imagem de fora do espaçamento

 #imagem {
	width: 90%;
	overflow: hidden;
}
*/